.btn {
  background-color: $secondColor;
  color: $white;
  text-decoration: none;
  padding: 1rem 1.2rem;
  display: inline-block;
  border-radius: 0.1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    color: $secondColor;
    background-color: $mainColor;
    cursor: pointer;
  }

  &--menu-b-margin {
    margin-bottom: 1rem;

    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  &--svip:hover {
    color: $secondColor;
    background-color: $mainColor;
    cursor: pointer;
  }

  &--crystal {
    background-color: $thirdColor;
    color: $white;

    &:hover {
      background-color: $white;
      color: $mainColor;
    }
  }

  &--large {
    font-size: 1rem;

    @mixin atSmall {
      font-size: 1.1rem;
    }

    @mixin atMedium {
      font-size: 1.2rem;
    }

    @mixin atLarge {
      font-size: 1.3rem;
    }
  }
}
