.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin: 0 auto;

    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 300;
    color: $secondColor;
    margin-top: 0.7em;
    text-align: center;

    @mixin atMedium {
      font-size: 1.7rem;
    }

    @mixin atLarge {
      margin-top: 1em;
      font-size: 1.875rem;
      text-align: left;
    }
  }
}
